@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap");
h1 {
  font: 800 44px "Open Sans", sans-serif;
  letter-spacing: 0;
  color: #FFFFFF;
  opacity: 1; }
  @media (max-width: 676px) {
    h1 {
      font: 800 24px "Open Sans", sans-serif; } }

h2 {
  font: 800 44px "Open Sans", sans-serif;
  letter-spacing: 0;
  color: #385E67;
  opacity: 1; }
  @media (max-width: 676px) {
    h2 {
      font: 800 24px "Open Sans", sans-serif; } }

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  scroll-behavior: smooth; }

/*
   * Remove text-shadow in selection highlight:
   * https://twitter.com/miketaylr/status/12228805301
   *
   * Vendor-prefixed and regular ::selection selectors cannot be combined:
   * https://stackoverflow.com/a/16982510/7133471
   *
   * Customize the background color to match your design.
   */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
   * A better looking default horizontal rule
   */
hr {
  display: block;
  height: 0.5px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
   * Remove the gap between audio, canvas, iframes,
   * images, videos and the bottom of their containers:
   * https://github.com/h5bp/html5-boilerplate/issues/440
   */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

/*
   * Remove default fieldset styles.
   */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
   * Allow only vertical resizing of textareas.
   */
textarea {
  resize: vertical; }

/* ==========================================================================
     Browser Upgrade Prompt
     ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
     Juan Cabral Styles
     ========================================================================== */
a {
  border: 0; }
  a:hover {
    text-decoration: none; }

button {
  border: 0; }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }

body {
  font-family: 'Open Sans', sans-serif; }

section {
  z-index: 999; }

.modal {
  z-index: 9999; }

.header, .header-alt, .header-empresas {
  position: fixed;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), color-stop(80%, rgba(0, 0, 0, 0.0970763)), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.0970763) 80%, rgba(0, 0, 0, 0) 100%);
  top: 0;
  right: 0;
  z-index: 9998;
  width: 100%;
  padding: 30px 20px;
  -webkit-transition: .2s;
  transition: .2s; }
  .header nav .main-menu, .header-alt nav .main-menu, .header-empresas nav .main-menu {
    text-align: right; }
    .header nav .main-menu li, .header-alt nav .main-menu li, .header-empresas nav .main-menu li {
      display: inline-block;
      color: #fff; }
      .header nav .main-menu li .active, .header-alt nav .main-menu li .active, .header-empresas nav .main-menu li .active {
        border-bottom: 2px solid #39A935;
        padding-bottom: 2px; }
      .header nav .main-menu li a.link:hover, .header-alt nav .main-menu li a.link:hover, .header-empresas nav .main-menu li a.link:hover {
        border-bottom: 2px solid #39A935;
        padding-bottom: 2px; }
  .header nav .movil-menu, .header-alt nav .movil-menu, .header-empresas nav .movil-menu {
    text-align: right; }
    .header nav .movil-menu li, .header-alt nav .movil-menu li, .header-empresas nav .movil-menu li {
      display: inline-block;
      color: #fff; }
      .header nav .movil-menu li button, .header-alt nav .movil-menu li button, .header-empresas nav .movil-menu li button {
        cursor: pointer; }

.header-alt {
  background: rgba(0, 0, 0, 0.7);
  padding: 12px 20px; }
  .header-alt .logo {
    margin-top: 10px; }

nav .main-menu {
  text-align: right; }
  nav .main-menu li {
    display: inline-block;
    color: #fff; }

footer {
  background: -webkit-gradient(linear, left top, left bottom, from(#148e40), to(#087391));
  background: linear-gradient(180deg, #148e40 0%, #087391 100%);
  color: #fff;
  position: relative;
  margin-top: -80px;
  min-height: 360px;
  clear: both;
  padding-top: 60px;
  z-index: 0;
  height: 500px; }
  @media (max-width: 676px) {
    footer {
      height: auto;
      z-index: 800; } }
  @media (max-width: 676px) {
    footer .footer-section {
      border-bottom: 1px solid rgba(255, 255, 255, 0.5); } }
  footer .footer-content {
    position: fixed;
    z-index: 0;
    bottom: 0; }
    @media (max-width: 676px) {
      footer .footer-content {
        position: relative;
        z-index: 800;
        bottom: 0; } }
    footer .footer-content .copyright {
      background: rgba(0, 0, 0, 0.3);
      padding: 20px;
      color: #fff;
      border-top-left-radius: 25px;
      border-top-right-radius: 25px;
      position: relative;
      bottom: 0; }
      @media (max-width: 676px) {
        footer .footer-content .copyright {
          bottom: 0; } }
      footer .footer-content .copyright p {
        color: #fff;
        opacity: 80%;
        font-size: 14px; }
  footer p, footer h3, footer h4 {
    font-size: 16px !important; }
  footer h4 {
    font-weight: 600;
    opacity: 80%; }
  footer a {
    color: #fff; }
  footer .menu-footer li {
    display: inline-block;
    padding: 0 10px;
    text-align: center; }
    @media (max-width: 676px) {
      footer .menu-footer li {
        display: block;
        text-align: left; } }
    footer .menu-footer li a {
      color: #fff;
      opacity: 80%;
      font-size: 14px; }
    footer .menu-footer li p {
      font-size: 14px; }
  footer .social li {
    display: inline-block;
    font-size: 20px;
    margin-right: 20px;
    color: #fff; }
    @media (max-width: 676px) {
      footer .social li {
        font-size: 35px;
        margin-right: 25%; } }
    footer .social li a {
      color: #fff; }
      footer .social li a:hover {
        opacity: 0.8; }

.divider {
  width: 80%;
  border: 0.5px solid #D6D6D6;
  margin: 0 auto; }

.rounded-button, .rounded-button-white, .rounded-button-white-transparent, .rounded-button-gradient, .rounded-button-blue, .outline-button {
  border-radius: 24px;
  opacity: 1;
  font: Bold 18px/24px Open Sans;
  letter-spacing: 0;
  color: #385E67;
  opacity: 1;
  padding: 10px 25px;
  display: inline-block;
  border-top: 1px solid transparent; }

.rounded-button-white {
  background: #fff 0% 0% no-repeat padding-box; }
  .rounded-button-white:hover {
    color: #fff;
    background: #385E67;
    border: none; }

.rounded-button-white-transparent {
  background: #fff 0% 0% no-repeat padding-box; }
  .rounded-button-white-transparent:hover {
    color: #fff !important;
    background: transparent;
    border: 1px solid #fff; }

.rounded-button-gradient {
  background: -webkit-gradient(linear, left top, left bottom, from(#2ea536), to(#0d8478));
  background: linear-gradient(180deg, #2ea536 0%, #0d8478 100%);
  color: #fff; }
  .rounded-button-gradient:hover {
    background: #2F932B;
    color: #fff; }

.rounded-button-blue {
  background: #385E67 0% 0% no-repeat padding-box;
  color: #fff; }
  .rounded-button-blue:hover {
    border: 1px solid #385E67;
    background: #fff;
    color: #385E67; }

.outline-button {
  color: #fff;
  border: 2px solid #fff;
  background: transparent; }
  .outline-button:hover {
    background: #fff;
    color: #385E67; }

#menu {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  width: 0;
  height: 100vh;
  position: fixed;
  z-index: 9999;
  -webkit-transition: .2s;
  transition: .2s;
  background: -webkit-gradient(linear, left top, left bottom, from(#187f73), to(#04679d));
  background: linear-gradient(to bottom, #187f73, #04679d);
  overflow: hidden;
  right: 0;
  -webkit-box-pack: start;
          justify-content: flex-start; }
  #menu .top {
    display: -webkit-box;
    display: flex;
    width: 100vw;
    height: 10vh;
    background-color: #0f4944;
    position: relative;
    -webkit-box-pack: center;
            justify-content: center; }
    #menu .top div {
      display: -webkit-box;
      display: flex;
      -webkit-box-pack: justify;
              justify-content: space-between;
      align-self: center;
      width: 90%; }
      #menu .top div i {
        color: #ffffff;
        font-size: 30px; }
      #menu .top div img {
        position: relative;
        width: 10vw; }
  #menu .options {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center; }
    #menu .options ul {
      width: 90vw;
      height: 30vh; }
      #menu .options ul li {
        padding-left: 4vw;
        padding-right: 4vw;
        border-bottom: solid 1px rgba(255, 255, 255, 0.462);
        display: -webkit-box;
        display: flex;
        -webkit-box-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
                align-items: center;
        height: 13vh;
        font-size: 18px; }
        #menu .options ul li i {
          color: white; }
        #menu .options ul li a {
          color: white; }
  #menu .sesions {
    height: 60vh;
    display: -webkit-box;
    display: flex;
    justify-content: space-around;
    -webkit-box-align: end;
            align-items: flex-end; }
    #menu .sesions #account {
      display: -webkit-box;
      display: flex;
      height: 20vh;
      text-align: center;
      color: white; }
      #menu .sesions #account #sign-in, #menu .sesions #account #sign-up {
        font-size: 14px; }
        #menu .sesions #account #sign-in button, #menu .sesions #account #sign-up button {
          margin-top: 2vh;
          padding: 2vw;
          width: 40vw;
          font-size: 14px; }

/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers
 */
.hidden {
  display: none !important; }

/*
  * Hide only visually, but have it available for screen readers:
  * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
  *
  * 1. For long content, line feeds are not interpreted as spaces and small width
  *    causes content to wrap 1 word per line:
  *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
  */
.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */ }

/*
  * Extends the .sr-only class to allow the element
  * to be focusable when navigated to via the keyboard:
  * https://www.drupal.org/node/897638
  */
.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto; }

/*
* Hide visually and from screen readers, but maintain layout
*/
.invisible {
  visibility: hidden; }

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important; }
  a,
  a:visited {
    text-decoration: underline; }
  a[href]:after {
    content: " (" attr(href) ")"; }
  abbr[title]:after {
    content: " (" attr(title) ")"; }
  /*
       * Don't show links that are fragment identifiers,
       * or use the `javascript:` pseudo protocol
       */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }
  pre {
    white-space: pre-wrap !important; }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }
  /*
       * Printing Tables:
       * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
       */
  thead {
    display: table-header-group; }
  tr,
  img {
    page-break-inside: avoid; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }
  h2,
  h3 {
    page-break-after: avoid; } }

#pop-in {
  display: none;
  overflow: auto;
  width: 100vw;
  height: 100vh;
  left: 0vw;
  top: 0vh;
  background-color: rgba(0, 0, 0, 0.75);
  position: fixed;
  z-index: 9999;
  -webkit-box-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
          align-items: flex-start; }
  #pop-in #modal-in {
    position: relative;
    width: 24vw;
    height: 62vh;
    top: 14.5vh;
    right: 4vw;
    border-radius: 20px;
    background-color: #fff;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    justify-content: space-around;
    text-align: center;
    padding: 1vh; }
    #pop-in #modal-in .title {
      width: 100%;
      display: -webkit-box;
      display: flex;
      -webkit-box-pack: center;
              justify-content: center; }
      #pop-in #modal-in .title h5 {
        width: 60%;
        font-weight: 700;
        color: #13513c; }
    #pop-in #modal-in form input[type=text], #pop-in #modal-in form input[type=password] {
      height: 6.5vh;
      width: 80%;
      border-radius: 50px;
      border: solid #218d69 1px;
      text-indent: 1vw;
      margin-bottom: 2.5vh; }
    #pop-in #modal-in form input[type=submit] {
      background: -webkit-gradient(linear, left bottom, left top, from(#218d69), to(#008000));
      background: linear-gradient(to top, #218d69, #008000);
      border: none;
      color: #fff;
      padding: 1vw;
      width: 80%;
      border-radius: 50px;
      font-weight: 600;
      font-size: 18px; }
    #pop-in #modal-in a, #pop-in #modal-in #forgot {
      font-size: 14px; }
    #pop-in #modal-in a {
      color: #218d69; }
    #pop-in #modal-in hr {
      width: 80%;
      align-self: center; }
    #pop-in #modal-in::after {
      content: "";
      position: absolute;
      bottom: 100%;
      left: 70%;
      border-width: 1.2vw;
      border-style: solid;
      border-color: transparent transparent white transparent; }

#pop-in-2 {
  display: none;
  overflow: auto;
  width: 100vw;
  height: 100vh;
  left: 0vw;
  top: 0vh;
  background-color: rgba(0, 0, 0, 0.75);
  position: fixed;
  z-index: 9999;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center; }
  #pop-in-2 #modal-in-2 {
    position: relative;
    width: 24vw;
    height: 62vh;
    border-radius: 20px;
    background-color: white;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    justify-content: space-around;
    text-align: center;
    padding: 1vh; }
    @media (max-width: 676px) {
      #pop-in-2 #modal-in-2 {
        width: 90vw; } }
    #pop-in-2 #modal-in-2 #title {
      width: 100%;
      display: -webkit-box;
      display: flex;
      -webkit-box-pack: center;
              justify-content: center; }
      #pop-in-2 #modal-in-2 #title h5 {
        width: 60%;
        font-weight: 700;
        color: #13513c; }
    #pop-in-2 #modal-in-2 form input[type=text], #pop-in-2 #modal-in-2 form input[type=password] {
      height: 6.5vh;
      width: 80%;
      border-radius: 50px;
      border: solid #218d69 1px;
      text-indent: 1vw;
      margin-bottom: 2.5vh; }
    #pop-in-2 #modal-in-2 form input[type=submit] {
      background: -webkit-gradient(linear, left bottom, left top, from(#218d69), to(#008000));
      background: linear-gradient(to top, #218d69, #008000);
      border: none;
      color: #fff;
      padding: 1vw;
      width: 80%;
      border-radius: 50px;
      font-weight: 600;
      font-size: 18px; }
    #pop-in-2 #modal-in-2 a, #pop-in-2 #modal-in-2 #forgot {
      font-size: 14px; }
    #pop-in-2 #modal-in-2 a {
      color: #218d69; }
    #pop-in-2 #modal-in-2 hr {
      width: 80%;
      align-self: center; }
    #pop-in-2 #modal-in-2 i {
      text-align: right;
      padding-right: .5vw;
      margin-bottom: -4vh;
      color: #588a91;
      font-size: 30px;
      cursor: pointer; }

#pop-up {
  display: none;
  overflow: auto;
  width: 100vw;
  height: 100vh;
  left: 0vw;
  top: 0vh;
  background-color: rgba(0, 0, 0, 0.75);
  position: fixed;
  z-index: 9999;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center; }
  #pop-up #modal-up {
    position: relative;
    width: 35vw;
    height: 70vh;
    border-radius: 20px;
    background-color: white;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    text-align: center;
    padding: 1vh; }
    @media (max-width: 676px) {
      #pop-up #modal-up {
        width: 90%; } }
    #pop-up #modal-up i {
      text-align: right;
      padding-right: .5vw;
      margin-top: 1vh;
      color: #588a91;
      font-size: 30px;
      cursor: pointer; }
    #pop-up #modal-up #form {
      display: block; }
      @media (max-width: 676px) {
        #pop-up #modal-up #form {
          width: 90vw; } }
      #pop-up #modal-up #form #titles {
        width: 100%;
        display: -webkit-box;
        display: flex;
        -webkit-box-pack: center;
                justify-content: center;
        margin-bottom: 2vh; }
        #pop-up #modal-up #form #titles h5 {
          width: 80%;
          font-weight: 700;
          color: #588a91; }
      #pop-up #modal-up #form form input[type=text], #pop-up #modal-up #form form input[type=password], #pop-up #modal-up #form form input[type=email] {
        height: 6.5vh;
        width: 80%;
        border-radius: 50px;
        border: solid #588a91 1px;
        text-indent: 1vw;
        margin-bottom: 2.5vh; }
      #pop-up #modal-up #form form input[type=submit] {
        background: -webkit-gradient(linear, left bottom, left top, from(#218d69), to(#008000));
        background: linear-gradient(to top, #218d69, #008000);
        border: none;
        color: #fff;
        padding: 1vw;
        width: 80%;
        border-radius: 50px;
        font-weight: 600;
        font-size: 18px; }
      #pop-up #modal-up #form #warn {
        margin-top: 2vh;
        width: 100%;
        display: -webkit-box;
        display: flex;
        -webkit-box-pack: center;
                justify-content: center; }
        #pop-up #modal-up #form #warn span {
          font-style: italic;
          width: 80%;
          text-align: left;
          color: #588a91;
          font-size: 14px; }
    #pop-up #modal-up #message {
      display: none;
      -webkit-box-pack: center;
              justify-content: center;
      -webkit-box-align: center;
              align-items: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
              flex-direction: column;
      height: 100%; }
      #pop-up #modal-up #message i {
        color: #39A935;
        font-size: 50px;
        text-align: center;
        margin-bottom: 40px; }
      #pop-up #modal-up #message h3 {
        color: #39A935;
        font-size: 30px; }
      #pop-up #modal-up #message p {
        color: #454545;
        font-size: 20px; }
      #pop-up #modal-up #message input[type=submit] {
        margin-top: 6vh;
        background: #fff;
        border: 2px solid #385E67;
        border-radius: 24px;
        color: #385E67;
        padding: 1vw;
        width: 60%;
        font-weight: 600;
        font-size: 18px; }

.priv {
  border: none;
  background-color: transparent;
  color: #ffffff;
  font-size: 14px; }

#slider-superior .owl-stage-outer {
  height: 880px; }
  @media (max-width: 676px) {
    #slider-superior .owl-stage-outer {
      height: 670px; } }

.owl-carousel {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column; }
  .owl-carousel .owl-stage-outer {
    width: auto; }
    .owl-carousel .owl-stage-outer .owl-stage .owl-item {
      opacity: 1;
      position: relative;
      margin-right: 0 !important; }
      .owl-carousel .owl-stage-outer .owl-stage .owl-item .description {
        font: 400 20px/30px "Open Sans", sans-serif;
        color: #FFFFFF; }
        @media (max-width: 676px) {
          .owl-carousel .owl-stage-outer .owl-stage .owl-item .description {
            font: 400 16px "Open Sans", sans-serif; } }
      .owl-carousel .owl-stage-outer .owl-stage .owl-item .content-slider {
        position: relative;
        z-index: 9999;
        top: 300px;
        left: 0; }
        @media (max-width: 676px) {
          .owl-carousel .owl-stage-outer .owl-stage .owl-item .content-slider {
            top: 210px; } }
      .owl-carousel .owl-stage-outer .owl-stage .owl-item .overlay {
        position: absolute;
        height: 880px;
        background: -webkit-gradient(linear, left top, left bottom, from(#218d69), to(rgba(5, 108, 164, 0.8)));
        background: linear-gradient(180deg, #218d69 0%, rgba(5, 108, 164, 0.8) 100%);
        z-index: 888;
        top: 0;
        left: 0;
        width: 100%; }
      .owl-carousel .owl-stage-outer .owl-stage .owl-item .slide-1, .owl-carousel .owl-stage-outer .owl-stage .owl-item .slide-2 {
        height: 880px; }
        @media (max-width: 676px) {
          .owl-carousel .owl-stage-outer .owl-stage .owl-item .slide-1, .owl-carousel .owl-stage-outer .owl-stage .owl-item .slide-2 {
            height: 620px; } }

.carousel-movil-desktop {
  background: url(../img/textura-beneficios.png) no-repeat;
  background-size: cover;
  background-position: -330px center;
  height: 800px; }
  .carousel-movil-desktop .beneficios-movil {
    height: 560px;
    padding: 0; }
    .carousel-movil-desktop .beneficios-movil h2 {
      font: 800 44px/90px "Open Sans", sans-serif;
      display: -webkit-box;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
              flex-direction: column;
      -webkit-box-align: center;
              align-items: center; }
    .carousel-movil-desktop .beneficios-movil p, .carousel-movil-desktop .beneficios-movil h6, .carousel-movil-desktop .beneficios-movil span {
      margin-top: 4vh;
      text-align: left;
      font-size: 16px;
      letter-spacing: 0;
      color: #FFFFFF;
      opacity: 1;
      line-height: 1.5; }
    .carousel-movil-desktop .beneficios-movil .item-beneficios {
      width: 80%;
      margin: 0 auto; }
      .carousel-movil-desktop .beneficios-movil .item-beneficios img {
        width: 80%; }
      .carousel-movil-desktop .beneficios-movil .item-beneficios p {
        margin: 0 0 0 10%; }
    .carousel-movil-desktop .beneficios-movil .owl-stage-outer {
      width: auto;
      height: 560px; }
      @media (max-width: 676px) {
        .carousel-movil-desktop .beneficios-movil .owl-stage-outer {
          height: 100vh; } }

.beneficios-movil-empresas {
  height: 560px;
  padding: 0; }
  .beneficios-movil-empresas h2 {
    font: Extrabold 44px/90px "Open Sans", sans-serif;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-align: center;
            align-items: center; }
    @media (max-width: 676px) {
      .beneficios-movil-empresas h2 {
        font: 400 24px "Open Sans", sans-serif; } }
  .beneficios-movil-empresas p, .beneficios-movil-empresas h6, .beneficios-movil-empresas span {
    margin-top: 4vh;
    text-align: left;
    font-size: 16px;
    letter-spacing: 0;
    color: #FFFFFF;
    opacity: 1;
    line-height: 1.5; }
  .beneficios-movil-empresas .owl-stage-outer {
    width: auto;
    height: 560px; }
    @media (max-width: 676px) {
      .beneficios-movil-empresas .owl-stage-outer {
        height: 100vh; } }

.curva-empresas {
  background: url("../img/curva-empresas.png") no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 300px;
  position: absolute;
  top: -150px;
  right: 0;
  left: 0; }

.curva-empresas-bottom {
  background: url("../img/curva-empresas-bottom.png") no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 300px;
  position: absolute;
  bottom: -150px;
  right: 0;
  left: 0; }

.slider-basico {
  background: url("../img/slider1.jpg") no-repeat;
  background-size: cover !important;
  position: relative; }

.owl-carousel .owl-nav {
  display: none;
  width: 100vw;
  -webkit-box-pack: center;
          justify-content: center;
  margin-bottom: 1vh; }
  .owl-carousel .owl-nav button {
    top: 0px;
    left: 0; }

@media screen and (max-width: 550px) {
  .owl-carousel .owl-nav {
    display: -webkit-box;
    display: flex; } }

.modal-header h5 {
  color: #385E67;
  font-size: 22px;
  text-align: center;
  font-weight: 700; }

#aviso p, #terminos p {
  font-size: 14px;
  color: #385E67; }

#aviso .bold, #terminos .bold {
  font-weight: 900; }

body {
  overflow-x: hidden; }

.header-empresas {
  background: rgba(0, 0, 0, 0.7);
  padding: 20px 20px; }

nav .main-menu {
  text-align: right; }
  nav .main-menu li {
    display: inline-block;
    color: #fff; }

#menu {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  width: 0;
  height: 100vh;
  position: fixed;
  z-index: 9999;
  -webkit-transition: .2s;
  transition: .2s;
  background: -webkit-gradient(linear, left top, left bottom, from(#187f73), to(#04679d));
  background: linear-gradient(to bottom, #187f73, #04679d);
  overflow: hidden;
  right: 0;
  -webkit-box-pack: start;
          justify-content: flex-start; }
  #menu .top {
    display: -webkit-box;
    display: flex;
    width: 100vw;
    height: 10vh;
    background-color: #0f4944;
    position: relative;
    -webkit-box-pack: center;
            justify-content: center; }
    #menu .top div {
      display: -webkit-box;
      display: flex;
      -webkit-box-pack: justify;
              justify-content: space-between;
      align-self: center;
      width: 90%; }
      #menu .top div i {
        color: #ffffff;
        font-size: 30px; }
      #menu .top div img {
        position: relative;
        width: 10vw; }
  #menu .options {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center; }
    #menu .options ul {
      width: 90vw;
      height: 30vh; }
      #menu .options ul li {
        padding-left: 4vw;
        padding-right: 4vw;
        border-bottom: solid 1px rgba(255, 255, 255, 0.462);
        display: -webkit-box;
        display: flex;
        -webkit-box-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
                align-items: center;
        height: 13vh;
        font-size: 18px; }
        #menu .options ul li i {
          color: white; }
        #menu .options ul li a {
          color: white; }
  #menu .sesions {
    height: 60vh;
    display: -webkit-box;
    display: flex;
    justify-content: space-around;
    -webkit-box-align: end;
            align-items: flex-end; }
    #menu .sesions #account {
      display: -webkit-box;
      display: flex;
      height: 20vh;
      text-align: center;
      color: white; }
      #menu .sesions #account #sign-in, #menu .sesions #account #sign-up {
        font-size: 14px; }
        #menu .sesions #account #sign-in button, #menu .sesions #account #sign-up button {
          margin-top: 2vh;
          padding: 2vw;
          width: 40vw;
          font-size: 14px; }

.beneficios {
  background: url("../img/textura-beneficios.png") no-repeat;
  background-size: cover;
  min-height: 960px;
  padding: 0; }
  .beneficios h2 {
    text-align: left;
    font: Extrabold 44px/90px "Open Sans", sans-serif;
    letter-spacing: 0;
    color: #EEF6FB;
    opacity: 1; }
    @media (max-width: 676px) {
      .beneficios h2 {
        font: 400 24px "Open Sans", sans-serif; } }
  .beneficios p {
    text-align: left;
    font: Regular 20px/40px Open Sans;
    letter-spacing: 0;
    color: #FFFFFF;
    opacity: 1;
    line-height: 2.4; }

#carousel-movil {
  height: 105vh; }
  #carousel-movil #textura {
    position: absolute;
    right: 9vw;
    display: -webkit-box;
    display: flex;
    margin-top: 38vh;
    background: -webkit-gradient(linear, left top, left bottom, from(#004190), to(#003e65));
    background: linear-gradient(to bottom, #004190, #003e65);
    width: 80vw;
    height: 25%;
    border-radius: 15px; }
  #carousel-movil .movil {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-align: center;
            align-items: center;
    text-align: center; }
    #carousel-movil .movil div:first-child {
      overflow: hidden;
      border-radius: 30px; }
      #carousel-movil .movil div:first-child img {
        margin-top: 10vh;
        height: 30vh;
        -webkit-transform: scale(1.5);
                transform: scale(1.5); }

#carousel-movil-index .textura {
  position: absolute;
  right: 0vw;
  display: -webkit-box;
  display: flex;
  margin-top: 3vh;
  background: -webkit-gradient(linear, left top, left bottom, from(#004190), to(#003e65));
  background: linear-gradient(to bottom, #004190, #003e65);
  width: 95.5vw;
  height: 38%;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px; }

#carousel-movil-index #movil {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-align: center;
          align-items: center;
  text-align: center;
  margin-top: 6vh;
  color: white; }

.main {
  position: relative;
  top: -330px;
  margin-bottom: -330px;
  z-index: 900; }
  @media (max-width: 676px) {
    .main {
      top: -160px; } }
  .main article h3 {
    font: 700 22px/24px Open Sans;
    color: #385E67; }
  .main .main-content {
    top: -2px;
    background: #e2eff8; }
    @media (max-width: 676px) {
      .main .main-content {
        margin-bottom: 160px; } }
  .main .knows {
    background-color: white;
    height: 55vh;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-align: center;
            align-items: center; }
    .main .knows h2 {
      color: #385E67; }
  .main .conoce-beneficios {
    border-bottom-left-radius: 45px;
    border-bottom-right-radius: 45px;
    background: #f1f8fd;
    box-shadow: 0 30px 40px -16px rgba(0, 0, 0, 0.2);
    position: relative;
    top: 40px;
    margin-top: -40px; }

.sin-costo, .bajo-costo {
  background: url("../img/sin-costo.jpg") no-repeat;
  background-size: cover;
  padding: 80px 20px 50px;
  border-top: 10px solid #39A935;
  border-top-left-radius: 30px;
  color: #fff;
  text-align: center; }
  @media (max-width: 676px) {
    .sin-costo, .bajo-costo {
      padding: 30px 0; } }
  .sin-costo h4, .bajo-costo h4 {
    font-weight: 600; }
    @media (max-width: 676px) {
      .sin-costo h4, .bajo-costo h4 {
        font-size: 16px;
        width: 80%;
        margin: 0 auto; } }

.bajo-costo {
  border-top-left-radius: 0px;
  border-top-right-radius: 30px;
  background: url("../img/bajo-costo.jpg") no-repeat;
  background-size: cover; }

.saber-mas {
  background: #2a9854;
  background: linear-gradient(74deg, #2a9854 0%, #056ca4 100%);
  color: #fff;
  padding: 80px 0;
  position: relative; }
  @media (max-width: 676px) {
    .saber-mas {
      padding: 40px 0; } }
  .saber-mas h2 {
    color: #fff; }
    @media (max-width: 676px) {
      .saber-mas h2 {
        font-size: 30px; } }
  .saber-mas a {
    color: #385E67 !important; }

.clientes {
  background: url("../img/medio-circulo.jpg") no-repeat;
  background-position: top center;
  background-size: cover;
  padding: 80px 0 0;
  position: relative;
  z-index: 1; }

@media screen and (max-width: 550px) {
  .clientes {
    z-index: 0; } }

.testimonios {
  position: relative; }
  .testimonios .owl-dots {
    position: absolute;
    top: 540px;
    left: 83%; }
    .testimonios .owl-dots .owl-dot {
      background: #39A935;
      width: 40px;
      height: 5px; }
  .testimonios .testimonio {
    background: url("../img/testimonio.png") no-repeat;
    background-position: center;
    background-size: contain;
    min-height: 600px; }
    .testimonios .testimonio .texto-testimonio {
      position: relative;
      width: 30%;
      right: -52%;
      top: 200px; }
      .testimonios .testimonio .texto-testimonio p {
        color: #fff;
        font-size: 20px; }
      .testimonios .testimonio .texto-testimonio h6 {
        color: #fff;
        font-size: 24px;
        font-weight: 700; }
      .testimonios .testimonio .texto-testimonio span {
        color: #fff;
        font-size: 12px; }

.beneficios-empresas {
  padding: 60px 0;
  position: relative;
  margin-top: -27vh;
  margin-bottom: -2px;
  width: 100vw;
  z-index: 999; }
  @media (max-width: 676px) {
    .beneficios-empresas {
      background-size: cover; } }
  .beneficios-empresas .beneficio {
    margin-bottom: 40px; }
    .beneficios-empresas .beneficio .paso {
      text-align: right;
      font: 700 60px/24px "Open Sans", sans-serif;
      letter-spacing: 0;
      color: rgba(0, 0, 0, 0.1);
      padding: 13px 0 0 0; }
    .beneficios-empresas .beneficio h3 {
      text-align: left;
      font: 700 22px Open Sans;
      letter-spacing: 0;
      color: #39A935;
      opacity: 1; }
    .beneficios-empresas .beneficio p {
      text-align: left;
      font-weight: 400;
      font-size: 14px;
      letter-spacing: 0;
      color: #385E67;
      line-height: 26px; }

.cuadros-comparacion {
  position: relative; }

.inversionista {
  position: relative; }

.equipo {
  padding: 80px 0 160px;
  background: url("../img/equipo.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  position: relative; }
  .equipo h2 {
    color: #fff; }
  .equipo p {
    color: #fff; }
  .equipo a {
    color: #385E67; }

.conoce {
  position: relative;
  background: #EEF6FB 0% 0% no-repeat padding-box;
  box-shadow: 0px 10px 25px #00000029;
  border-radius: 40px;
  padding: 80px 0;
  top: -40px;
  z-index: 850; }

.row.no-gutter {
  margin-right: 0;
  margin-left: 0; }

.row.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0; }

.w-40 {
  width: 40%; }

.w-85 {
  width: 85%; }

.one-edge-shadow {
  box-shadow: 0 30px 40px -16px rgba(0, 0, 0, 0.2); }

.bg-blue {
  background: #e2eff8; }

.bg-ice-blue {
  background: #EEF6FB; }

.bottom-radius {
  border-bottom-right-radius: 90px;
  border-bottom-left-radius: 90px; }

.text-blue {
  color: #385E67;
  font-size: 18px; }

.text-blue-small {
  color: #385E67;
  font-size: 14px; }

.movil h2 {
  font-size: 36px; }

.texto-testimonios {
  position: absolute;
  top: 340px;
  width: 60%;
  left: 20%;
  color: white;
  font-size: 16px; }

.relative {
  position: relative; }

.owl-nav .owl-prev, .owl-nav .owl-next {
  background: url("../img/back.png") no-repeat !important;
  background-size: contain;
  width: 60px;
  height: 60px;
  background-position: center;
  border: none !important;
  position: relative;
  top: 570px;
  left: 85%; }
  .owl-nav .owl-prev span, .owl-nav .owl-next span {
    display: none !important; }

.owl-nav .owl-next {
  background: url("../img/next.png") no-repeat !important; }

.owl-dots .owl-dot, .owl-dots .owl-dot active {
  display: none !important; }
