.header{
    position: fixed;
    background: linear-gradient(180deg, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.09707633053221287) 80%, rgba(0,0,0,0) 100%);
    top:0;
    right:0;
    z-index: 9998;
    width: 100%;
    padding: 30px 20px;
    nav{
        .main-menu{
            text-align: right;
            li{
                display: inline-block;
                color: $white;
            }
        }
        .movil-menu{
            text-align: right;
            li{
                display: inline-block;
                color: $white;
                button{
                    cursor: pointer;
                }
            }
        }
    }
}
.header-empresas{
    @extend .header;
    background: rgba(0,0,0,0.7);
    padding: 20px 20px;
}
nav{
    .main-menu{
        text-align: right;
        li{
            display: inline-block;
            color: $white;
        }
    }
}

.owl-carousel{
    .owl-stage-outer {
        width: auto;
        .owl-stage {
            .owl-item{
                height: 800px;
                opacity: 1;
                position: relative;
                margin-right: 0 !important;
                .description{
                    font: $Regular 20px/30px $Open_Sans;
                    color: #FFFFFF;
                    @media (max-width: 676px) {
                        font: $Regular 16px $Open_Sans;
                    }
                }
                .content-slider{
                    position: relative;
                    z-index: 9999;
                    top: 50%;
                    left: 0;
                }
                .overlay{
                    position: absolute;
                    height: 800px;
                    background: linear-gradient(180deg, rgba(33,141,105,1) 0%, rgba(5,108,164,0.8) 100%);
                    z-index: 888;
                    top: 0;
                    left: 0;
                    width: 100%;
                }
                .slide-1{
                    background: url('../img/slider0.png') no-repeat;
                    background-size: cover !important;
                    position: relative;
                    height: 800px;
                }
                .slide-2{
                    @extend .slide-1;
                    background: url('../img/slider2.png') no-repeat;
                }
            }
        }
    }
}

.beneficios{
    background: url('../img/textura-beneficios.png') no-repeat;
    background-size: cover;
    height:880px ;
    padding: 0;
    h2{
        text-align: left;
        font: Extrabold 44px/90px $Open_Sans;
        @media (max-width: 676px) {
            font: $Regular 24px $Open_Sans;
        }
        letter-spacing: 0;
        color: #EEF6FB;
        opacity: 1;
    }
    p{
        text-align: left;
        font: Regular 20px/40px Open Sans;
        letter-spacing: 0;
        color: #FFFFFF;
        opacity: 1;
        line-height: 2.4;
    }
    // .owl-stage-outer .owl-stage{
    //     .owl-stage{

    //     }
    // }
}

#carousel-movil{
    #textura{
        position: absolute;
        right: 9vw;
        display: flex;
        margin-top: 38vh;
        background: linear-gradient(to bottom, #004190, #003e65);
        width: 80vw;
        height: 22%;
        border-radius: 15px;
    }
    #movil{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-top: 6vh;
    }
}

.beneficios-movil{
    height:100vh;
    padding: 0;
    h2{
        font: Extrabold 44px/90px $Open_Sans;
        @media (max-width: 676px) {
            font: $Regular 24px $Open_Sans;
        }
    }
    p{
        text-align: left;
        font: Regular 20px/40px Open Sans;
        letter-spacing: 0;
        color: #FFFFFF;
        opacity: 1;
        line-height: 1.5;
    }
    // .owl-stage-outer .owl-stage{
    //     .owl-stage{

    //     }
    // }
}

#pop-in{
    display: none;
    overflow: auto;
    width: 100vw;
    height: 100vh;
    left: 0vw;
    top: 0vh;
    background-color:rgba(0,0,0,0.75);
    position: fixed;
    z-index: 999;
    justify-content: flex-end;
    align-items: flex-start;
    #modal-in{
        position: relative;
        width: 24vw;
        height: 62vh;
        top: 14.5vh;
        right: 4vw;
        border-radius: 20px;
        background-color: $white;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        text-align: center;
        padding: 1vh;
        .title{
            width: 100%;
            display: flex;
            justify-content: center;
            h5{
                width: 60%;
                font-weight: 700;
                color: #13513c;
            }
        }
        form{
            input[type=text], input[type=password]{
                height: 6.5vh;
                width: 80%;
                border-radius: 50px;
                border: solid #218d69 1px;
                text-indent: 1vw;
                margin-bottom: 2.5vh;
            }
            input[type=submit]{
                background: linear-gradient(to top, #218d69,#008000);
                border: none;
                color: $white;
                padding: 1vw;
                width: 80%;
                border-radius: 50px;
                font-weight: 600;
                font-size: 18px;
            }
        }
        a, #forgot{
            font-size: 14px;
        }
        a{
            color: #218d69;
        }
        hr{
            width: 80%;
            align-self: center;
        }
        &::after{
            content: "";
            position: absolute;
            bottom: 100%;
            left: 70%;
            border-width: 1.2vw;
            border-style: solid;
            border-color: transparent transparent white transparent;
        }
    }
}
#pop-in-2{
    display: none;
    overflow: auto;
    width: 100vw;
    height: 100vh;
    left: 0vw;
    top: 0vh;
    background-color:rgba(0,0,0,0.75);
    position: fixed;
    z-index: 9999;
    justify-content: center;
    align-items: center; 
    #modal-in-2{
        position: relative;
        width: 24vw;
        height: 62vh;
        border-radius: 20px;
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        text-align: center;
        padding: 1vh;
        #title{
            width: 100%;
            display: flex;
            justify-content: center;
            h5{
                width: 60%;
                font-weight: 700;
                color: #13513c;
            }
        }
        form{
            input[type=text], input[type=password]{
                height: 6.5vh;
                width: 80%;
                border-radius: 50px;
                border: solid #218d69 1px;
                text-indent: 1vw;
                margin-bottom: 2.5vh;
            }
            input[type=submit]{
                background: linear-gradient(to top, #218d69,#008000);
                border: none;
                color: $white;
                padding: 1vw;
                width: 80%;
                border-radius: 50px;
                font-weight: 600;
                font-size: 18px;
            }
        }
        a, #forgot{
            font-size: 14px;
        }
        a{
            color: #218d69;
        }
        hr{
            width: 80%;
            align-self: center;
        }
        i{
            text-align: right;
            padding-right: .5vw;
            margin-bottom: -4vh;
            color: #588a91;
            font-size: 30px;
            cursor: pointer;
        }
    }
}

#pop-up{
    display: none;
    overflow: auto;
    width: 100vw;
    height: 100vh;
    left: 0vw;
    top: 0vh;
    background-color:rgba(0,0,0,0.75);
    position: fixed;
    z-index: 9999;
    justify-content: center;
    align-items: center;
    #modal-up{
        position: relative;
        width: 35vw;
        height: 70vh;
        border-radius: 20px;
        background-color: white;
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 1vh;
        #titles{
            width: 100%;
            display: flex;
            justify-content: center;
            margin-bottom: 2vh;
            h5{
                width: 80%;
                font-weight: 700;
                color: #588a91;
            }
        }
        $width: 80%;
        form{
            input[type=text], input[type=password], input[type=email]{
                height: 6.5vh;
                width: $width;
                border-radius: 50px;
                border: solid #588a91 1px;
                text-indent: 1vw;
                margin-bottom: 2.5vh;
            }
            input[type=submit]{
                background: linear-gradient(to top, #218d69,#008000);
                border: none;
                color: $white;
                padding: 1vw;
                width: $width;
                border-radius: 50px;
                font-weight: 600;
                font-size: 18px;
            }
        }
        i{
            text-align: right;
            padding-right: .5vw;
            margin-top: 1vh;
            color: #588a91;
            font-size: 30px;
            cursor: pointer;
        }
        #warn{
            margin-top: 2vh;
            width: 100%;
            display: flex;
            justify-content: center;
            span{
                font-style: italic;
                width: $width;
                text-align: left;
                color: #588a91;
                font-size: 14px;
            }
        }
    }
}

.main{
    position: relative;
    top: -320px;
    margin-bottom: -320px;
    z-index: 900;
    article{
        h3{
            font: $Bold 22px/24px Open Sans;
            color: $dark-blue;
        }
    }
    .main-content{
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
        top:-2px;
    }
    .knows{
        background-color: rgb(255, 255, 255);
        height: 55vh;
        border-bottom-right-radius: 50px;
        border-bottom-left-radius: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        h2{
            color: $dark-blue;
        }
    }
}
.sin-costo{
    background: url('../img/sin-costo.jpg') no-repeat;
    background-size: cover;
    padding: 90px 0;
    border-top: 4px solid $green;
    border-top-left-radius: 30px;
    color: $white;
    text-align: center;
}
.bajo-costo{
    @extend .sin-costo;
    border-top-left-radius: 0px;
    border-top-right-radius: 30px;
    background: url('../img/bajo-costo.jpg') no-repeat;
}
.saber-mas{
    background: rgb(42,152,84);
    background: linear-gradient(74deg, rgba(42,152,84,1) 0%, rgba(5,108,164,1) 100%);
    color: $white;
    padding: 80px 0;
    h2{
        color: $white;
    }
    a{
        color: $dark-blue !important;
    }
}
.clientes{
    background: url('../img/medio-circulo.jpg') no-repeat;
    background-position: top center;
    background-size: cover;
    padding: 80px 0 0;
}
.beneficios-empresas{
    padding: 60px 0;
    .beneficio{
        .paso{
            text-align: right;
            font: $Bold 60px/24px $Open_Sans;
            letter-spacing: 0;
            color: rgba(0,0,0,0.1);
            padding: 13px 0 0 0;
        }
        h3{
            text-align: left;
            font: Bold 18px/24px Open Sans;
            letter-spacing: 0;
            color: $green;
            opacity: 1;
        }
        p{
            text-align: left;
            font: Regular 14px/26px Open Sans;
            letter-spacing: 0;
            color: $dark-green;
            opacity: 1;
        }
    }
}

.equipo{
    padding: 80px 0 160px;
    background: url('../img/equipo.jpg') no-repeat;
    background-position: center;
    background-size: cover;
    h2{
        color: $white;
    }
    p{
        color: $white;
    }
    a{
        color:$dark-blue;
    }
}
.conoce{
    position: relative;
    background: #EEF6FB 0% 0% no-repeat padding-box;
    box-shadow: 0px 10px 25px #00000029;
    border-radius: 40px;
    padding: 80px 0;
    top:-40px;
    z-index: 850;
}
footer{
    background: linear-gradient(180deg, rgba(57,169,53,1) 0%, rgba(5,108,164,1) 100%);
    color: $white;
    position: relative;
    margin-top: -80px;
    min-height: 360px;
    clear: both;
    padding-top: 60px;
    z-index: 800;
    margin-bottom: 0;
    .footer-section{
        @media (max-width: 676px) {
            border-bottom: 1px solid rgba(255,255,255, 0.5);
        }
    }
    .copyright{
        background: rgba(0,0,0,0.3);
        padding: 20px;
        color: $white;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        position: relative;
        bottom: 0;
        @media (max-width: 676px) {
            bottom: 0
        }
        p{
            color: $white;
            opacity: 80%;
        }
    }
    p, h3, h4{
        font-size: 16px !important;
    }
    h4{
        font-weight: $Semibold;
        opacity: 80%;
    }
    a{
        color: $white;
    }
    .menu-footer{
        li{
            display: inline-block;
            padding: 0 10px;
            text-align: center;
            a{
                color: $white;
                opacity: 80%;
            }
        }
    }
    .social{
        li{
            display: inline-block;
            font-size: 20px;
            margin-right: 20px; 
            color: $white;
            a{
                color: $white;
            }
        }
    }
}

