body{
    overflow-x: hidden;
}

.owl-one{
    .owl-stage-outer {
        width: auto;
        .owl-stage {
            .owl-item{
                height: 800px;
            }
        }
    }
}
.header-empresas{
    @extend .header;
    background: rgba(0,0,0,0.7);
    padding: 20px 20px;
}
nav{
    .main-menu{
        text-align: right;
        li{
            display: inline-block;
            color: $white;
        }
    }
}

#menu{
    display: flex;
    flex-direction: column;
    width: 0;
    height: 100vh;
    position: fixed;
    z-index: 9999;
    transition: .2s;
    background: linear-gradient(to bottom, #187f73,#04679d);
    overflow: hidden;
    right: 0;
    justify-content: flex-start;
    .top{
        display: flex;
        width: 100vw;
        height: 10vh;
        background-color: rgb(15,73,68);
        position: relative;
        justify-content: center;
        div{
            display: flex;
            justify-content: space-between;
            align-self: center;
            width: 90%;
            i{
                 color: #ffffff;
                 font-size: 30px;
            }
            img{
                position: relative;
                width: 10vw;
            }
        }
    }
    .options{
        display: flex;
        justify-content: center;
        ul{
            width: 90vw;
            height: 30vh;
            li{
                padding-left: 4vw;
                padding-right: 4vw;
                border-bottom: solid 1px rgba(255, 255, 255, 0.462);
                display: flex;
                justify-content: space-between;
                align-items: center;
                height: 13vh;
                font-size: 18px;
                i{
                    color: white;
                }
                a{
                    color: white;
                }
            }
        }
    }
    .sesions{
        height: 60vh;
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
        #account{
            display: flex;
            height: 20vh;
            text-align: center;
            color: white;
            #sign-in, #sign-up{
                font-size: 14px;
                button{
                    margin-top: 2vh;
                    padding: 2vw;
                    width: 40vw;
                    font-size: 14px;
                }
            }
        }
    }
}

.beneficios{
    background: url('../img/textura-beneficios.png') no-repeat;
    background-size: cover;
    height:880px ;
    padding: 0;
    h2{
        text-align: left;
        font: Extrabold 44px/90px $Open_Sans;
        @media (max-width: 676px) {
            font: $Regular 24px $Open_Sans;
        }
        letter-spacing: 0;
        color: #EEF6FB;
        opacity: 1;
    }
    p{
        text-align: left;
        font: Regular 20px/40px Open Sans;
        letter-spacing: 0;
        color: #FFFFFF;
        opacity: 1;
        line-height: 2.4;
    }
}

#carousel-movil{
    height: 105vh;
    #textura{
        position: absolute;
        right: 9vw;
        display: flex;
        margin-top: 38vh;
        background: linear-gradient(to bottom, #004190, #003e65);
        width: 80vw;
        height: 25%;
        border-radius: 15px;
    }
    .movil{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-top: 6vh;
        div:first-child{
            overflow: hidden;
            border-radius: 30px;
            img{
                margin-top: 10vh;
                height: 30vh;
                transform:scale(1.5);
            }
        }
    }
}



.main{
    position: relative;
    top: -320px;
    margin-bottom: -320px;
    z-index: 900;

    article{
        h3{
            font: $Bold 22px/24px Open Sans;
            color: $dark-blue;
        }
    }
    .main-content{
        top:-2px;
        background: $ice-blue;
    }
    .knows{
        background-color: rgb(255, 255, 255);
        height: 55vh;
        border-bottom-right-radius: 50px;
        border-bottom-left-radius: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        h2{
            color: $dark-blue;
        }
    }
    .conoce-beneficios{
        border-bottom-left-radius: 45px;
        border-bottom-right-radius: 45px;
        background: #f1f8fd;
        -webkit-box-shadow: 0 30px 40px -16px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0 30px 40px -16px rgba(0, 0, 0, 0.2);
        box-shadow: 0 30px 40px -16px rgba(0, 0, 0, 0.2);
        position: relative;
        top: 40px;
        margin-top: -40px;
    }
}
.sin-costo{
    background: url('../img/sin-costo.jpg') no-repeat;
    background-size: cover;
    padding: 120px 0;
    border-top: 10px solid $green;
    border-top-left-radius: 30px;
    color: $white;
    text-align: center;
    @media (max-width: 676px) {
        padding: 30px 0;
    }
    h4{
        @media (max-width: 676px) {
            font-size: 16px;
            width: 80%;
            margin: 0 auto;
        }
    }
}
.bajo-costo{
    @extend .sin-costo;
    border-top-left-radius: 0px;
    border-top-right-radius: 30px;
    background: url('../img/bajo-costo.jpg') no-repeat;
    background-size: cover;
}
.saber-mas{
    background: rgb(42,152,84);
    background: linear-gradient(74deg, rgba(42,152,84,1) 0%, rgba(5,108,164,1) 100%);
    color: $white;
    padding: 80px 0;
    @media (max-width: 676px) {
        padding: 40px 0;
    }
    h2{
        color: $white;
        @media (max-width: 676px) {
            font-size: 30px;
        }
    }
    a{
        color: $dark-blue !important;
    }
}
.clientes{
    background: url('../img/medio-circulo.jpg') no-repeat;
    background-position: top center;
    background-size: cover;
    padding: 80px 0 0;
}
.testimonios{
    .owl-dots{
        position: absolute;
        top: 540px;
        left: 83%;
        .owl-dot{
            background: $green;
            width: 40px;
            height: 5px;
        }
    }
    .testimonio{
        background: url('../img/testimonio.png') no-repeat;
        background-position: center;
        background-size: contain;
        min-height: 600px;
        .texto-testimonio{
            position: relative;
            width: 30%;
            right: -52%;
            top: 200px;
            p{
               color: $white; 
               font-size: 20px;
            }
            h6{
                color: $white;
                font-size: 24px;
                font-weight: $Bold;
            }
            span{
                color:$white;
                font-size: 12px;
            }
        }
    }
}

.beneficios-empresas{
    padding: 60px 0;
    background: url('../img/ondas.png') no-repeat;
    background-size: contain;
    background-position: center;
    position: relative;
    margin-top: -27vh;
    margin-bottom: -2px;
    width: 100vw;
    z-index: 999;
    @media (max-width: 676px) {
        background-size: cover;
    }
    .beneficio{
        .paso{
            text-align: right;
            font: $Bold 60px/24px $Open_Sans;
            letter-spacing: 0;
            color: rgba(0,0,0,0.1);
            padding: 13px 0 0 0;
        }
        h3{
            text-align: left;
            font: Bold 18px/24px Open Sans;
            letter-spacing: 0;
            color: $green;
            opacity: 1;
        }
        p{
            text-align: left;
            font: Regular 14px/26px Open Sans;
            letter-spacing: 0;
            color: $dark-green;
            opacity: 1;
        }
    }
}

.equipo{
    padding: 80px 0 160px;
    background: url('../img/equipo.jpg') no-repeat;
    background-position: center;
    background-size: cover;
    h2{
        color: $white;
    }
    p{
        color: $white;
    }
    a{
        color:$dark-blue;
    }
}
.conoce{
    position: relative;
    background: #EEF6FB 0% 0% no-repeat padding-box;
    box-shadow: 0px 10px 25px #00000029;
    border-radius: 40px;
    padding: 80px 0;
    top:-40px;
    z-index: 850;
}
