// Colors
$white: #fff;
$black: #000;
$ice-blue:#e2eff8;
$green: #39A935;
$dark-green: #385E67;
$dark-blue:#385E67;
$light-blue: #F8F8F8;
$ice-blue-light: #EEF6FB;

//Fonts
$Light: 300;
$Regular: 400;
$Semibold: 600;
$Bold: 700;
$Extrabold: 800;

$Open_Sans: 'Open Sans', sans-serif;