// Colors
$white: #fff;
$ice-blue:#e2eff8;
$dark-green: #385E67;
$dark-blue:#385E67;
$ice-blue-light: #eef7fc;

//Fonts
$Light: 300;
$Regular: 400;
$Semibold: 600;
$Bold: 700;
$Extrabold: 800;

$Open_Sans: 'Open Sans', sans-serif;